<h1>Categories</h1>
<div id="categories">
  <% @categories.each do |category| %>
    <p>
      <strong>Title:</strong>
      <%= category.title %>
    </p>
    <p>
      <%= link_to "Show this category", category_path(category) %>
    </p>
  <% end %>
</div>
<%= link_to "New category", new_category_path %>
